@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Emilys+Candy&display=swap');
@font-face {
    font-family: 'titulo';
    src: url(../../fonts/Polaroid\ Script\ \(Demo_Font\).otf) format(opentype);
    font-weight: normal;
    font-size: normal;
}

:root{
    --cor0: #331522;
    --cor1: #4A2A38;
    --cor2: #745663;
    --cor3: #9F8F96;
    --cor4: #C993AB;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Caladea', 'Times New Roman', Times, serif;
    line-height: 18px;
    color: white;
    background-color: black;
}

/*Cabeçalho*/

header{
    background-color: rgba(0, 0, 0, 0.442);
    box-shadow: 0px 5px 5px var(--cor4);
    border-bottom: 1px solid var(--cor0);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header div#marca{ 
    padding: 10px;
    width: 210px;
}

header div#span{
    padding-right: 10px;
    cursor: pointer;
}

header h1{
    font-family: 'titulo', Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    color: var(--cor4);
    text-align: left;
}

header p{
    font-family: 'Caladea',Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: white;
    text-align: right;
}

header span{
    color: white;
}

/*Menu*/

nav#menu{
    display: none;
    flex: 1 1 100vw;
}

nav#menu ul{
    color: white;
    border: 1px solid var(--cor0);
    display: flex;
    flex-flow: column nowrap;
}

nav#menu li{
    text-align: center;
    padding: 8px;
    border: 1px solid var(--cor0);
    background-color: #33152272;
}

nav#menu a{
    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

nav#menu li:hover{
    text-shadow: 0px 0px 2px white;
    background-color: #331522c5;
    transition: background-color .3s, text-shadow .3s;
}

/*Corpo*/

main{
    margin: 100px auto;
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    background-color: #33152249;
    box-shadow: inset 0px 0px 5px #c993ab5a;
    border-radius: 10px;
    overflow: auto;
    transition: width .3s;
}

main div.intro{
    margin: 10px;
    flex: 0 0 100px;
}

div.intro h1{
    font-family: 'titulo', Arial, Helvetica, sans-serif;
    color: var(--cor4);
    margin: 15px 0px;
    transition: font-size .3s;
}

div.intro p{
    font-size: .8em;
    text-indent: 20px;
    transition: font-size .3s;
}

main div.calculadora{
    margin: 0px 15px 15px 15px;
}

/*Calculadora*/

input{
    margin-left: 10px;
}

form p{
    margin: 10px 0px 0px 10px;
}

input#limpar{
    margin: 10px 0px;
}

legend{
    margin-left: 10px;
}

p#resultado{
    font-size: .9em;
    text-align: center;
    transition: font-size .3s;
    color: #ff0808;
}

/*Tabela*/

table{
    display: none;
    border-collapse: collapse;
    margin: 10px;
}

table td, th{
    border: 1px solid #331522;
    text-align: center;
    padding: 5px;
    font-size: .8em;
    transition: font-size .3s;
}

table th{
    background-color: #33152286;
}

table caption{
    font-size: 1em;
    margin: 10px;
    transition: font-size .3s;
}

/*Anamnese*/

form.anamnese{
    background-color: white;
    color: black;
    margin: 5px;
    border-radius: 10px;
}

form.anamnese h3{
    margin: 20px 5px;
}

form.anamnese textarea{
    display: block;
    margin: auto;
}

/*Perguntas do sim*/

div#i1div{
    display: none;
}

div#saudediv{
    display: none;
}

div#medicamentodiv{
    display: none;
}

div#refeiçaodiv{
    display: none;
}

div#restriçaodiv{
    display: none;
}

div#dietadiv{
    display: none;
}


/*Telas maiores*/

@media screen and (min-width: 600px) {
    
    main{
        width: 500px;
        transition: width .3s;
    }

}


@media screen and (min-width: 800px) {
    
    /*menu*/

    nav#menu{
        display: block;
    }

    nav#menu ul{
        flex-flow: row nowrap;
        justify-content: space-around;
        border: none;
        list-style-type: none;
        font-size: .9em;
    }

    nav#menu a{
        flex: 1 1 180px;
        margin: 0px 20px;
    }

    nav#menu li{
        padding: 3px;
        border-radius: 10px 10px 0px 0px;
    }

    div#span{
        display: none;
    }

    /*Tamanho do Conteudo*/

    main{
        width: 700px;
        transition: width .3s;
    }

    div.intro h1{
        font-size: 2.2em;
        transition: font-size .3s;
    }

    div.intro p{
        font-size: 1em;
        text-indent: 20px;
        transition: font-size .3s;
    } 

    p#resultado{
        font-size: 1em;
        text-align: center;
        transition: font-size .3s;
    }

    table td, th{
        font-size: .9em;
        transition: font-size .3s;
    }

    table caption{
        font-size: 1.1em;
        transition: font-size .3s;
    }
}